#activity-card {
  border: 8px;
  border-radius: 12px;
  background-color: rgba(243, 7, 243, 0.632);
  max-height: 100px;
  max-width: 450px;
  margin: 10px;
}

#activity-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#saved-activity-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#h3title {
  margin-top: 50px
}

#formLabel {
  float: left;
}

label {
  margin-left: 20px
}