#activity-card {
  border: 8px;
  border-radius: 12px;
  background-color: #afb5de;
  height: 200px;
  width: 300px;
  margin: 10px;
  /* width: 30%;
  height: 50% */
}

#activity-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#saved-activity-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#h3title {
  margin-top: 50px
}

#formLabel {
  float: left;
}

label {
  margin-left: 20px
}

#formInput {
  text-align: right;
  margin-right: 100px;
}

#chart-container{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  margin-right: 300px;
}