#activity-card {
  border: 8px;
  border-radius: 12px;
  background-color: #afb5de;
  max-height: 100px;
  max-width: 450px;
  margin: 10px;
  width: 30%
}

#activity-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#saved-activity-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#h3title {
  margin-top: 50px
}

#formLabel {
  float: left;
}

label {
  margin-left: 20px
}

#formInput {
  text-align: right;
  margin-right: 100px;
}