.navbar {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  color: white;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 40%;
}

.navbar a {
  color: purple;
  text-decoration: none;
  font-size: x-large;
}
